<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns:x="urn:schemas-microsoft-com:office:excel">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <xml>
        <x:ExcelWorkbook>
            <x:ExcelWorksheets>
                <x:ExcelWorksheet>
                    <x:Name>Full Report</x:Name>
                    <x:WorksheetOptions>
                        <x:DisplayGridlines/>
                    </x:WorksheetOptions>
                </x:ExcelWorksheet>
            </x:ExcelWorksheets>
        </x:ExcelWorkbook>
    </xml>
    <style>
        body {
            font-family: Calibri;
            font-size: 11pt;
        }

        th {
            font-weight: bold;
            font-size: 14pt;
        }

        th {
            border-right: 1px solid #e0e5e7;
            border-bottom: 1px solid #e0e5e7;
            padding-right: 10pt;
        }

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        tr td {
            border: 1px solid black !important;
        }
    </style>
</head>
<body>
<table cellpadding="1" cellspacing="1">

    #*Header*#
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4" style="font-weight: bold; font-size: 20px; min-width: 40px; text-align: center">
            "ТАСДИҚЛАЙМАН"<br/>
            Бош директорнинг. маҳаллийлаштириш<br/>
            бўйича биринчи ўринбосари - бош мухандис <br/>
            МЧЖ "Uzbekistan GTL"
        </th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4" style="font-weight: bold; font-size: 20px; min-width: 40px; text-align: center">
            _____________О. Каримов
        </th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4" style="font-weight: bold; font-size: 20px; min-width: 40px; text-align: center">
            "____" _________ 2021й.
        </th>
    </tr>
    <tr></tr>
    <tr>
        <th style="font-weight: bold; text-align: center; font-size: 15px;" colspan="14">
            2021 йил январь ойи Материаллар ҳисоботи
        </th>
    </tr>
    <tr>
        <th style="font-weight: bold; text-align: center; font-size: 15px;" colspan="14">
            Моддий-техник назорат бўлими
        </th>
    </tr>

    <tr>
        <th></th>
        <th style="font-weight: bold; font-size: 15px; text-align: left;">
            Ҳисоб:
        </th>
        <th style="font-weight: bold; font-size: 15px; text-align: left;">
            10. Материаллар
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th style="font-weight: bold; font-size: 15px; text-align: left;">
            Омбор (бўлим/цех):
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr></tr>

    #*Content*#
    <tr>
        <th rowspan="3" class="text-center">Код</th>
        <th rowspan="3" class="text-center">Махсулот номи</th>
        <th rowspan="3" class="text-center">ўл. бирлик</th>
        <th rowspan="3" class="text-center">Нархи</th>

        <th colspan="2" class="text-center">Бошланғич қолдиқ</th>

        <th colspan="2" class="text-center">Кирим</th>

        <th colspan="4" class="text-center">Чиқим</th>

        <th colspan="2" class="text-center">Якуний қолдиқ</th>
    </tr>

    <tr>

        <th rowspan="2" class="text-center">сони</th>
        <th rowspan="2" class="text-center">Жами қиймати</th>


        <th rowspan="2" class="text-center">сони</th>
        <th rowspan="2" class="text-center">Жами қиймати</th>


        <th rowspan="2" class="text-center">сони</th>
        <th rowspan="2" class="text-center">Жами қиймати</th>

        <th colspan="2" class="text-center">На 014</th>

        <th rowspan="2" class="text-center">сони</th>
        <th rowspan="2" class="text-center">Жами қиймати</th>
    </tr>

    <tr>

        <th class="text-center">сони</th>
        <th class="text-center">Жами қиймати</th>

    </tr>

    #if($data)
        #foreach($item in $data)

            <tr>
                <td colspan="3" class="text-left" style="font-weight: bold; font-size: 16px;">
                    #if($item.typeName) $item.typeName
                    #else -
                    #end
                </td>

                <td class="text-center">-</td>

                <td class="text-center">-</td>
                <td class="text-center">-</td>

                <td class="text-center">
                    #if($item.newTotal) $item.newTotal
                    #else -
                    #end
                </td>
                <td class="text-center">
                    #if($item.newTotalPrice) $item.newTotalPrice
                    #else -
                    #end
                </td>

                <td class="text-center">
                    #if($item.producedTotal) $item.producedTotal
                    #else -
                    #end
                </td>
                <td class="text-center">
                    #if($item.producedTotalPrice) $item.producedTotalPrice
                    #else -
                    #end
                </td>

                <td class="text-center">-</td>
                <td class="text-center">-</td>

                <td class="text-center">
                    #if($item.totalCount) $item.totalCount
                    #else -
                    #end
                </td>
                <td class="text-center">
                    #if($item.totalPrice) $item.totalPrice
                    #else -
                    #end
                </td>
            </tr>

            #if($item.childs)

                #foreach($childItem in $item.childs)

                    <tr>
                        <td class="text-left">
                            #if($childItem.accounTingCode) $childItem.accounTingCode
                            #else -
                            #end
                        </td>
                        <td class="text-left">
                            #if($childItem.productName) $childItem.productName
                            #else -
                            #end
                        </td>
                        <td class="text-center">
                            #if($childItem.nameEn) $childItem.nameEn
                            #else -
                            #end
                        </td>
                        <td class="text-center">
                            #if($childItem.price) $childItem.price
                            #else -
                            #end
                        </td>

                        <td class="text-center">
                            -
                        </td>
                        <td class="text-center">
                            -
                        </td>

                        <td class="text-center">
                            #if($childItem.newProductCount) $childItem.newProductCount
                            #else -
                            #end
                        </td>
                        <td class="text-center">
                            #if($childItem.newTotalPrice) $childItem.newTotalPrice
                            #else -
                            #end
                        </td>

                        <td class="text-center">
                            #if($childItem.producedProductCount) $childItem.producedProductCount
                            #else -
                            #end
                        </td>
                        <td class="text-center">
                            #if($childItem.producedTotalPrice) $childItem.producedTotalPrice
                            #else -
                            #end
                        </td>

                        <td class="text-center">
                            -
                        </td>
                        <td class="text-center">
                            -
                        </td>

                        <td class="text-center">
                            #if($childItem.total) $childItem.total
                            #else -
                            #end
                        </td>
                        <td class="text-center">
                            #if($childItem.totalPrice) $childItem.totalPrice
                            #else -
                            #end
                        </td>
                    </tr>

                #end

            #end
        #end

        <tr>
            <td colspan="2" class="text-center" style="font-weight: bold; text-align: center; font-size: 15px;">
                Жами:
            </td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>

            #*Boshlang'ich qoldiq*#
            <td class="text-center">
                Сони
            </td>
            <td class="text-center">
                -
            </td>

            #*Kirim*#
            <td class="text-center">
                $newTotalCount
            </td>
            <td class="text-center">
                -
            </td>

            #*Chiqim*#
            <td class="text-center">
                $producedTotalCount
            </td>
            <td class="text-center">
                -
            </td>

            #*Yakuniy qoldiq*#
            <td class="text-center">
                $totalCount
            </td>

            <td class="text-center">
                -
            </td>

        </tr>

        #*Footer*#
        <tr></tr>

        <tr>
            <th></th>
            <th></th>
            <th style="font-weight: bold; text-align: left; font-size: 15px;">
                Тайёрлади:
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="font-weight: bold; text-align: left; font-size: 15px;">
                Келишилди:
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <th></th>
            <th colspan="3" style="text-align: left; font-size: 15px;">
                Моддий жавобгар шахс        ________________
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="3" style="text-align: left; font-size: 15px;">
                Ишлаб чиқариш бўйича Директор  __________________________
            </th>

            <th style="font-weight: bold; text-align: left; font-size: 15px;">
                Кайпназаров К.К
            </th>
            <th></th>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <th></th>
            <th style="font-weight: bold; text-align: left; font-size: 15px;">
                Текширди:
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <th></th>
            <th colspan="2" style="text-align: left; font-size: 15px;">
                Цех/бўлим бошлиғи __________________
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="3" style="text-align: left; font-size: 15px;">
                Молиявий директор     _________________________
            </th>

            <th style="font-weight: bold; text-align: left; font-size: 15px;">
                Насретдинов Н.Т
            </th>
            <th></th>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <th></th>
            <th colspan="2" style="text-align: left; font-size: 15px;">
                Моддий ҳисобчи                _________________
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr></tr>

        <tr>
            <th></th>
            <th></th>
            <th colspan="2" style="text-align: left; font-size: 15px;">
                Бош ҳисобчи                           _________________
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    #end
</table>
</body>